body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    padding-left: 5px;
    background: linear-gradient(to right, rgba(236, 179, 179, 0.7), rgb(104, 94, 104));
}

.logo {}

.hero {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
    font-size: 20px;
    color: brown;


}

.header {
    margin-left: 1%;

    font-size: 25px;
    color: brown;
    display: flex;
    justify-content: space-between;



}

nav a {
    justify-content: space-between;
    display: flex;
    padding: 8px 10px;

    text-decoration: none;
    color: rgb(97, 32, 150);
    font-size: 12px;
    background-color: rgb(215, 243, 243);


    border-radius: 5px;

    margin-left: 10px;
    margin-top: 30px;
    box-shadow: 0px 10px 25px rgb(170, 119, 119, 0.5);
    float: right;
}

nav {
    display: flex;

    padding: 8px 10px;


}

nav a:hover {
    background-color: rgb(31, 180, 180);
}

h1 span {
    text-transform: lowercase;
    color: rgb(29, 114, 114);
    font-size: 20px;
}

button {
    background: none;
    border: none;
    font-size: medium;
}

.services a {
    text-decoration: none;
    background-color: rgb(215, 243, 243);
    padding: 6px 8px;
    border-radius: 5px;
    color: rgb(3, 54, 54);
    display: inline-block;
    justify-content: space-between;


}

#headings {
    color: brown;

}

form {
    margin: auto;

    background-color: rgb(172, 85, 85, 0.6);
    width: 50%;
    border-radius: 8px;
    box-shadow: 0px 10px 25px rgb(34, 10, 10, 0.5);
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

form input {
    width: 400px;
    height: 30px;
    margin: 5px;
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    background-color: rgb(243, 245, 245);
    padding: 15px;
    color: white;
    outline: none;

}

textarea {
    width: 200px;
    height: 40px;
    margin: 5px;
    margin-left: 10px;
    font-size: 12px;
    border-radius: 5px;
    outline: none;

}

.logo {
    width: 250px;
    height: auto;
    margin-top: px;
}

.logo2 {}

.profile {
    flex-direction: column;

    text-align: center;
    margin-bottom: 50px;
}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: auto;
    object-fit: cover;
    border: 2px solid rgb(189, 92, 47);
    box-shadow: 0 4px 10px rgb(66, 66, 218);

}

.username {
    margin-left: px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(53, 53, 209);
}

.portfolio {
    margin-left: px;
    font-size: 14px;


}

.services {}

.service-container {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    gap: 20px;
}

.card {
    background-color: rgb(201, 131, 131, 0.5);
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 0 10px 15px rgb(82, 75, 60);
    object-fit: cover;
    max-width: 300px;
    height: auto;
}

.card img {
    width: 100%;
    height: 250px;
    border-radius: 12px;
    margin-right: 200px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: white;
}

.about-us {
    background-color: rgb(201, 131, 131, 0.5);
    padding: 40px 20px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: left;


}

.about-us .about {

    max-width: 900px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: grid;
}

.profile-img:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgb(66, 66, 218);

}